= form_for @contacto, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @contacto.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contacto.errors.count, "error")}"
      %ul
        - @contacto.errors.full_messages.each do |msg|
          %li= msg
  
  .region-datos
    %p
      Llámanos al +51 999 181782
  
  .region-datos
    %p.region-titulo
      Envíame un mensaje
    
  .form-group
    = f.label :nombre, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :nombre, class: 'form-control'
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :telefono, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :telefono, class: 'form-control'
  .form-group
    = f.label :mensaje, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :mensaje, class: 'form-control'
  .actions
    = f.submit 'Enviar', class: 'btn btn-default'
