.region-datos
  %p#numero
    Llámanos al 
    %b
      +51 999 181782
  %p#correo
    Escríbenos un correo a 
    %b
      info@tiabotas.com
.region-datos
  %p.region-titulo
    Enviame un mensaje
.region-inner
  = form_for @contacto, :html => { class: 'form-horizontal', role: 'form' } do |f|
    - if @contacto.errors.any?
      #error_explanation
        %h2= "#{pluralize(@contacto.errors.count, "error")}"
        %ul
          - @contacto.errors.full_messages.each do |msg|
            %li= msg
  
    .form-group-side
      .form-group
        = f.label :nombre, class: 'control-label'
        = f.text_field :nombre, class: 'form-control', placeholder: 'Nombre Completo'
      .form-group
        = f.label :email, class: 'control-label'
        = f.text_field :email, size: 30, class: 'form-control', placeholder: 'Ingresa tu E-mail'
      .form-group
        = f.label :telefono, class: 'control-label'
        = f.text_field :telefono, size: '30',class: 'form-control', placeholder: 'Celular, fijo o ambos'
    .form-group-side
      .form-group.form-textarea
        = f.label :mensaje, class: 'control-label'
        = f.text_area :mensaje, class: 'form-control', rows: '10', placeholder: 'Deje su mensaje'
      .actions
        = f.submit 'Enviar', class: 'btn btn-default'
