#region-Inicio
  -if current_admin
    .admin-control
      = link_to 'Crear Slide', new_slide_path, class: 'btn btn-primary'

  .social-links
    = render 'shared/social_links'
  = render 'bootstrap3_carousel'

#region-presentacion
  .region
    %header
      %h2.title
        SOY LA TíA BOTAS
    %p
      y tengo el mejor trabajo del mundo que es entretener y divertirme con los más pequeños de la casa.
      Escribo cuentos para niños, también canciones infantiles y aquí en mi web encontrarás muchas sorpresas con todos
      los personajes que he creado. para cantar con ellos en mi canal de Videos infantiles.

  .region
    == <iframe width="560" height="315" src="//www.youtube.com/embed/WE_-vAEqz4Q" frameborder="0" allowfullscreen></iframe>

#region-descarga
  .region
    = image_tag 'img-televisor.png', class: 'img-responsive'
  .region
    %header
      %h2.title
        DESCARGA GRATIS

    %p
      mis cuentos y canciones en las aplicaciones del smart tv de samsung
      = link_to image_tag('logo-samsung.jpg', class: 'img-responsive'), ''

#region-compra-facebook
  .region.region-compra
    %header
      %h2.title
        COMPRA MIS CANCIONES Y CANTEMOS JUNTOS

    = image_tag 'img-itunes.png', class: 'img-responsive'
  .region.region-facebook
    %header
      %h2.title
        SÍGUEME A TRAVÉS DEL FACEBOOK
    = image_tag 'img-facebook.png', class: 'img-responsive'

#region-imprime
  .region
    %header
      %h2.title
        Imprime y colorea tus personajes favoritos, juega con ellos y más en la sección: ¡actividades!

    = image_tag 'img-colorear.png', class: 'img-responsive'
