%ul.icons
  %li
    = link_to content_tag(:i, '', class: 'facebook'), '', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'twitter'), '', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'instagram'), '', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'googleplus'), '', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'pinterest'), '', target: '_blank'



