%ul.icons
  %li
    = link_to content_tag(:i, '', class: 'facebook'), 'https://www.facebook.com/latiabotas', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'twitter'), 'https://twitter.com/tiabotas', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'instagram'), 'http://www.youtube.com/user/tiabotas', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'googleplus'), 'https://plus.google.com/u/1/115334414440514227942/posts', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'pinterest'), 'http://www.pinterest.com/tiabotas/', target: '_blank'



