#region-canciones.container

  .region
    .region-title
      %h1= page_title!('Cantemos Juntos Con Mis Canciones')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Cancion', new_cancion_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Link
            %th
            %th

          - @canciones.each do |cancion|
            %tr
              %td= cancion.link_html
              - if current_admin
                %td= link_to 'Editar', edit_cancion_path(cancion), class: 'btn btn-success'
                %td= link_to 'Eliminar', cancion, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
