#region-actividades.container

  .region
    .region-title
      %h1= page_title!('Listando actividades')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear Actividad', new_actividad_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Foto
            %th
            %th

          - @actividades.each do |actividad|
            %tr
              %td= image_tag actividad.foto_url(:thumb)
              - if current_admin
                %td= link_to 'Editar', edit_actividad_path(actividad), class: 'btn btn-success'
                %td= link_to 'Eliminar', actividad, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
