.navbar.navbar-default{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %h1#logo.navbar-brand
      = link_to image_tag('logo.png', alt: 'Tía Botas'), root_path
  / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.navbar-right
      %li#nube-1.nube= link_to 'Cuentos', 'http://www.youtube.com/playlist?list=PLumpb-HfO_EtwONCVR3uRE7xRZxq3nybv', target: '_blank'
      %li#nube-2.nube= link_to 'Actividades', actividades_path
      %li#nube-3.nube= link_to 'Canciones', canciones_path
      %li#nube-4.nube= link_to 'Videos', 'http://www.youtube.com/user/tiabotas', target: '_blank'
      %li#nube-5.nube= link_to 'Juegos', juegos_path
      %li#nube-6.nube= link_to 'Contacto', new_contacto_path
      - if current_admin
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Dropdown
            %b.caret
          %ul.dropdown-menu

            %li= link_to 'Contacto', contactos_path
            %li= link_to 'Cerrar Session', destroy_admin_session_path, :method => :delete
      = render 'layouts/navigation_links'
