!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Tiabotas2013'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Tiabotas2013'}"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = yield(:javascript)
    = yield(:css)
    = csrf_meta_tags
  %body
    %header#main-header
      = render 'layouts/nav_advanced'
    %section{:role => "main"}
      = render 'layouts/messages'
      = yield
    %footer#main-footer
    = render 'shared/google_analytics'
